*.egg
*.egg-info/
*.manifest
*.mo
*.pot
*.py,cover
*.py[cod]
*.sage.py
*.spec
.dmypy.json
.installed.cfg
.ipynb_checkpoints
.nosetests.xml
.pdm.toml
.Python
.python-version
.scrapy
.webassets-cache
celerybeat-schedule
celerybeat.pid
MANIFEST
pip-delete-this-directory.txt
pip-log.txt
